

@media only screen and (max-width: 1280px) {
    body {
        font-size: 14px;
    }
    h1, h2, h3{
        margin-bottom: 40px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 18px;
        margin-bottom: 6px;
    }
    .container{
        width: 100%;
        padding: 0 40px;
    }
    .header__contact{
        display: none;
    }
    .intro__subdesc span {
        margin-bottom: 6px;
        font-size: 18px;
    }
    .stat-gal{
        .swiper-slide{
            text-align: center;
        }
    }
    .article {
        padding: 80px 0;
    }
    .stat {
        padding-top: 0;
    }
    .intro {
        padding: 0 0 40px;
    }
    .interier__title {
        font-size: 26px;
    }
    .interier, .adv__wrap, .about__wrap, .contact__wrap{
        gap: 40px;
    }
    .adv__desc p {
        margin-bottom: 28px;
    }
    .fear__desc {
        width: 70%;
        min-width: 70%;
    }
    .about__videowrap {
        width: auto;
    }
    .review__servlist{
        li{
            a{
                img{
                    transform: scale(.8);
                }
            }
        }
    }
    .footer__wrap {
        grid-template: repeat(3, auto)/1fr 2.5fr 0.5fr;
    }






}
@media only screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
    h1, h2, h3{
        margin-bottom: 32px;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 16px;
    }
    .intro {
        padding: 0 0 20px;
    }
    .intro__subdesc span {
        margin-bottom: 4px;
        font-size: 14px;
    }
    .btn {
        height: 38px;
        padding: 0 16px;
        border-radius: 10px;
        font-size: 12px;
    }
    .swiper-button{
        display: none;
    }
    .galwrap{
        margin: 0 -40px;
    }
    .stat-gal__am {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 10px;
        span {
            font-size: 16px;
        }
    }
    .stat-gal__desc {
        font-size: 14px;
    }
    .stat-gal{
        .swiper-wrapper{
            padding: 0 40px;
            .swiper-slide {
                text-align: left;
            }
        }
    }
    .swiper-pagination {
        margin-top: 28px;
        .swiper-pagination-bullet {
            width: 6px;
            height: 6px;
            margin: 0 8px !important;
        }
    }
    .star-gal{
        .swiper-wrapper{
            padding: 0 20px;
        }
        .swiper-slide__inner {
            border-radius: 10px;
            .star-gal__pic {
                border-radius: 10px;
            }
        }
    }
    .article {
        padding: 50px 0;
    }
    .interier {
        padding-top: 40px;
        display: grid;
        grid-template: auto / 1fr 1fr;
        gap: 40px;
    }
    .interier__title {
        font-size: 22px;
    }
    .interier__videowrap {
        width: 100%;
    }
    .interier__videoinner, .adv__picwrap, .fear__desc div, .fear__picwrap, .about__picwrap, .about__videoinner {
        border-radius: 12px;
    }
    .about__desc p {
        font-size: 16px;
    }


}  
   