@charset "UTF-8";
@font-face {
  font-family: "Evolventa";
  src: url("../font/EvolventaRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Evolventa";
  src: url("../font/EvolventaBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cera";
  src: url("../font/CeraProRegular.eot");
  src: url("../font/CeraProRegular.eot?#iefix") format("embedded-opentype"), url("../font/CeraProRegular.woff2") format("woff2"), url("../font/CeraProRegular.woff") format("woff"), url("../font/CeraProRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cera";
  src: url("../font/CeraProBold.eot");
  src: url("../font/CeraProBold.eot?#iefix") format("embedded-opentype"), url("../font/CeraProBold.woff2") format("woff2"), url("../font/CeraProBold.woff") format("woff"), url("../font/CeraProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  text-decoration: none !important;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--third-family);
  line-height: 120%;
  margin-top: 0;
}

h1 {
  font-size: 56px;
  margin: 0 0 40px;
}
h1 span {
  display: block;
  font-weight: 400;
}

h2 {
  font-size: 42px;
  margin-bottom: 60px;
}

h3 {
  font-size: 32px;
  margin-bottom: 24px;
}

h4 {
  font-size: 18px;
  margin-bottom: 16px;
}

input,
select,
textarea {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  border: 0;
}

p {
  margin: 0 0 20px;
}
p:last-child {
  margin: 0 !important;
}

img {
  line-height: 100%;
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  position: relative;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

b,
strong {
  font-weight: 600;
}

i {
  font-style: italic;
}

table {
  border: 0;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

table th {
  font-weight: 400;
}

table th,
table td {
  border: 0;
  padding: 0;
}

:root {
  --font-family: "Cera", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Evolventa", sans-serif;
  --transition: all 0.2s ease-in-out;
  --transition05: all 0.5s ease-in-out;
  --transitionbtn: all 0.8s cubic-bezier(.4,0,.2,1);
  --black: #272727;
  --green: #d1de37;
  --gray: #c7c7c7;
  --white: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  background: var(--white);
  font-family: var(--font-family);
}

.oh {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.mb0 {
  margin-bottom: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.wow {
  visibility: hidden;
}

.main {
  flex: 1 0 auto;
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0;
}

.header {
  padding: 25px 0;
  background: var(--black);
  color: var(--white);
  height: 105px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: var(--transition);
}
.header.unvis {
  top: -140px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  height: 100%;
  display: block;
}
.header__logo img {
  height: 100%;
}
.header__group {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header__contact {
  font-style: normal;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
}
.header__tel {
  color: var(--white);
  transition: var(--transition);
}
.header__tel:hover {
  color: var(--green);
}
.header__address {
  margin-top: 4px;
}
.header__menu-btn {
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  margin-left: 20px;
}
.header .hamburger {
  width: 46px;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.header .hamburger span:first-child {
  top: 0;
  transform-origin: left center;
}
.header .hamburger span:nth-child(2) {
  top: 13px;
  transform-origin: left center;
}
.header .hamburger span:nth-child(3) {
  top: 26px;
  transform-origin: left center;
}
.header .hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--white);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.header .hamburger.open span:first-child {
  transform: rotate(45deg);
  top: -3px;
  left: 6px;
}
.header .hamburger.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.header .hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 29px;
  left: 6px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  border-radius: 16px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 120%;
  padding: 0 32px;
  transition: var(--transition);
  color: var(--black);
  background: var(--green);
  position: relative;
  overflow: hidden;
  border: 0;
}
.btn span {
  position: relative;
  z-index: 20;
  transition: var(--transition);
}
.btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  padding-top: 100%;
  transform: translateY(100%);
  border-radius: 50%;
  transition: var(--transitionbtn);
  z-index: 10;
  background: #becb24;
}
.btn:hover {
  box-shadow: 0 0 14px 2px var(--green);
}
.btn:hover span {
  color: #000;
  transform: scale(1.05);
}
.btn:hover:after {
  transform: translateY(0);
}
.btn_min {
  height: 42px;
  font-size: 12px;
  padding: 0 36px;
}

.article {
  padding: 120px 0;
}
.article_first {
  padding-top: 105px !important;
}
.article_black {
  background: var(--black);
  color: var(--white);
}
.article_black .swiper-button-next:after, .article_black .swiper-button-prev:after {
  color: var(--white);
}
.article_black .swiper-button-next.swiper-button-disabled:hover, .article_black .swiper-button-prev.swiper-button-disabled:hover {
  cursor: not-allowed;
}
.article_black .swiper-button-next.swiper-button-disabled:after, .article_black .swiper-button-prev.swiper-button-disabled:after {
  color: var(--gray);
}
.article_black .swiper-button-next.swiper-button-disabled:after:hover, .article_black .swiper-button-prev.swiper-button-disabled:after:hover {
  cursor: not-allowed;
}
.article_black .review-text .swiper-slide {
  background: var(--white);
  color: var(--black);
  border-radius: 20px;
}

.intro {
  padding: 0 0 40px;
}
.intro__subdesc {
  margin-bottom: 66px;
}
.intro__subdesc span {
  display: block;
  font-family: var(--second-family);
  margin-bottom: 10px;
  font-size: 22px;
}
.intro__subdesc span:last-child {
  margin-bottom: 0;
}
.intro__pic {
  width: auto;
  height: 580px;
}
.intro .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_center {
  text-align: center;
}
.stat {
  padding-top: 0;
}

.galwrap {
  position: relative;
  margin: 0 60px;
}

.stat-gal__am {
  color: var(--green);
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 34px;
  color: var(--green);
  margin-bottom: 10px;
}
.stat-gal__am span {
  font-size: 17px;
}
.stat-gal__desc {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
}
.stat-gal__desc_min {
  font-size: 16px;
}
.swiper-pagination {
  position: static;
  margin-top: 64px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: var(--gray);
  margin: 0 12px !important;
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--green);
}

.swiper-button-prev {
  left: -60px;
}

.swiper-button-next {
  right: -60px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: var(--black);
  font-weight: 600;
  font-size: 38px;
}

.star {
  background: #f6f6f6;
}
.star-pagination {
  display: none;
}

.star-gal .swiper-slide {
  padding: 20px;
}
.star-gal .swiper-slide__inner {
  border-radius: 20px;
  box-shadow: 0 0 12px 0 rgba(58, 58, 58, 0.12);
  transition: var(--transition);
  display: block;
}
.star-gal .swiper-slide__inner:hover {
  box-shadow: 0 0 12px 4px rgba(58, 58, 58, 0.2);
}
.star-gal__pic {
  border-radius: 20px;
}
.star-gal__name {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--black);
  height: 80px;
  text-align: center;
}

.fancybox__caption {
  color: var(--gray);
}

.interier {
  padding-top: 66px;
  display: flex;
  align-items: center;
}
.interier__title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0 !important;
}
.interier__title strong {
  font-weight: 600;
}
.interier__videowrap {
  width: 570px;
  flex: 1 0 auto;
}
.interier__videoinner {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}
.interier__videoinner iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.adv__wrap {
  display: flex;
  gap: 60px;
}
.adv__picwrap {
  width: calc(50% - 30px);
  overflow: hidden;
  border-radius: 20px;
}
.adv__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.adv__desc {
  width: calc(50% - 30px);
}
.adv__desc p {
  font-family: var(--second-family);
  margin-bottom: 40px;
}

.fear .title_h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fear__wrap {
  display: grid;
  grid-template: auto/1.8fr 1fr;
  gap: 8px;
}
.fear__wrap .galwrap {
  margin: 0;
}
.fear-gal {
  height: 100%;
}
.fear__desc {
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 8px;
}
.fear__desc div {
  border-radius: 20px;
  color: var(--black);
  padding: 26px 22px;
}
.fear__pain {
  grid-area: 1/1/2/3;
  background: var(--gray);
}
.fear__serv {
  grid-row: 2/3;
  grid-column: 1/2;
  background: var(--white);
}
.fear__text {
  font-family: var(--second-family);
}
.fear__price {
  grid-row: 2/3;
  grid-column: 2/3;
  background: var(--white);
}
.fear__cen {
  grid-row: 3/4;
  grid-column: 1/3;
  background: var(--green);
}
.fear__picwrap {
  overflow: hidden;
  border-radius: 20px;
}
.fear__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.fear .swiper-pagination {
  display: none;
}

.about__wrap {
  display: grid;
  grid-template: auto 1fr/1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 40px;
}
.about__picblock {
  grid-row: 1/3;
  grid-column: 1/2;
}
.about__picblock span {
  font-family: var(--second-family);
  font-size: 14px;
}
.about__picwrap {
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 20px;
}
.about__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.about__desc {
  grid-row: 1/2;
  grid-column: 2/3;
}
.about__desc p {
  font-family: var(--second-family);
  font-size: 18px;
}
.about__video {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: end;
}
.about__video p {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 16px;
}
.about__videowrap {
  width: 260px;
}
.about__videoinner {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}
.about__videoinner iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.eq-gal .swiper-slide {
  background: var(--white);
  border-radius: 20px;
  overflow: hidden;
  height: auto;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.eq-gal .swiper-wrapper {
  align-items: stretch;
}
.eq-gal__desc h4 {
  height: 66px;
  padding: 36px 22px 0;
  margin-bottom: 24px;
}
.eq-gal__desc span {
  padding: 0 22px 22px;
  display: flex;
  font-family: var(--second-family);
}
.eq-gal__pic {
  width: 75%;
  align-self: flex-end;
}

.why {
  background: #f6f6f6;
}
.why__wrap {
  display: grid;
  grid-template: auto auto/1fr 1fr;
  grid-column-gap: 60px;
}
.why__list {
  grid-row: 1/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.why__list li {
  display: flex;
  align-items: center;
}
.why__list li span {
  font-family: var(--second-family);
  font-size: 18px;
  line-height: 110%;
  display: block;
}
.why__list li span:first-child {
  font-family: var(--third-family);
  font-size: 46px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: var(--green);
  display: flex;
  margin-right: 40px;
  align-items: center;
  transform: translateY(4px);
}
.why .title {
  grid-row: 1/2;
  grid-column: 2/3;
  text-align: right;
}
.why__picwrap {
  overflow: hidden;
  border-radius: 20px;
  grid-row: 2/3;
  grid-column: 2/3;
}
.why__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.smi-gal .swiper-wrapper {
  align-items: flex-start;
}
.smi-gal .swiper-slide {
  display: flex;
  gap: 60px;
  align-items: flex-end;
}
.smi-gal__descwrap {
  font-family: var(--second-family);
}
.smi-gal__desc {
  font-size: 20px;
  margin-bottom: 30px;
}
.smi-gal__desc strong {
  color: var(--green);
  font-weight: 700;
}
.smi-gal__date {
  margin: 0;
}
.smi-gal__picwrap {
  width: 60%;
  max-width: 60%;
  display: block;
  overflow: hidden;
  border-radius: 20px;
}
.team__wrap {
  display: grid;
  grid-template: auto auto/1fr 1fr;
  grid-gap: 30px 60px;
}
.team__picwrap {
  overflow: hidden;
  border-radius: 20px;
  grid-row: 1/3;
  grid-column: 1/2;
}
.team__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.team__desc {
  grid-row: 1/2;
  grid-column: 2/3;
  font-family: var(--second-family);
  font-size: 18px;
}
.team__btnwrap {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: end;
}

.promo__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}
.promo__title {
  position: absolute;
  bottom: 26px;
  left: 20px;
  right: 20px;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  transition: var(--transition);
}
.promo .title span {
  display: block;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
  margin-top: 30px;
}

.promo-gal .swiper-slide {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  transition: var(--transition);
}
.promo-gal .swiper-slide:hover {
  border-color: var(--green);
}
.promo-gal .swiper-slide:hover .promo__pic {
  transform: scale(1.1);
}
.promo-gal .swiper-slide:hover .promo__title {
  color: var(--green);
}

.review {
  background: #f6f6f6;
}
.review__more {
  text-align: center;
  margin-bottom: 46px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
}
.review__servlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 34px;
  background: var(--white);
  border-radius: 20px;
}
.review__servlist li {
  display: flex;
  justify-content: center;
}
.review__servlist li a {
  display: inline-block;
  transition: var(--transition);
}
.review__servlist li a:hover {
  transform: scale(1.05);
}
.videoreview-wrap {
  margin-bottom: 78px;
}

.videoreview__wrap {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}
.videoreview__wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.textreview-wrap .swiper-pagination {
  margin: 64px 0;
}

.review-text .swiper-wrapper {
  align-items: stretch;
}
.review-text .swiper-slide {
  background: var(--white);
  height: auto;
  padding: 34px 22px;
  font-family: var(--second-family);
  border-radius: 20px;
}
.review-text .swiper-slide a {
  text-decoration: underline;
  color: #76a424;
}
.review-text .swiper-slide a:hover {
  text-decoration: none;
}

.contact__wrap {
  display: grid;
  grid-template: 1fr/2fr 1fr;
  grid-column-gap: 60px;
}
.contact__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.contact__text {
  font-family: var(--second-family);
  font-size: 18px;
}
.contact__text hr {
  margin: 30px 0;
  border: 0;
  border-bottom: 1px solid var(--green);
}
.contact__text a {
  color: var(--black);
  position: relative;
}
.contact__text a:after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  width: 0;
  right: 0;
  background: #777777;
  transition: var(--transition);
}
.contact__text a:hover:after {
  width: 100%;
  left: 0;
}
.contact__text p span {
  display: inline-block;
}
.contact__picwrap {
  overflow: hidden;
  border-radius: 20px;
}
.contact__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.contact__btnwrap {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.footer {
  font-family: var(--second-family);
  font-size: 14px;
}
.footer__wrap {
  display: grid;
  grid-template: repeat(3, auto)/1fr 2fr 0.5fr;
  grid-gap: 30px 40px;
  padding: 76px 0 40px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer__contact {
  display: grid;
  grid-template: auto auto/auto auto;
  grid-gap: 20px;
}
.footer__contact strong {
  display: block;
}
.footer__contact > div:nth-child(2) strong {
  display: inline-block;
}
.footer__contact > div:nth-child(1) div:first-child {
  margin-bottom: 3px;
}
.footer__contact p span {
  display: inline-block;
}
.footer__contact-tel {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--green);
  position: relative;
  display: inline-block;
}
.footer__contact-tel:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  width: 0;
  background: #717725;
  transition: var(--transition);
}
.footer__contact-tel:hover::before {
  width: 100%;
  left: 0;
}
.footer__mail {
  position: relative;
  display: inline-block;
  color: var(--white);
}
.footer__mail:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: #777777;
  transition: var(--transition);
}
.footer__mail:hover::before {
  right: 0;
  width: 0;
  left: auto;
}
.footer__soc {
  position: absolute;
  right: 0;
  top: 76px;
  display: flex;
  gap: 16px;
}
.footer__soclink {
  transition: var(--transition);
}
.footer__soclink:hover {
  transform: scale(1.1);
}
.footer__lic {
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 0;
}
.footer__pub {
  grid-row: 3/4;
  grid-column: 2/3;
}
.footer__copy {
  padding: 38px 0 44px;
  font-weight: 300;
  font-size: 12px;
}
.footer__copy a {
  color: var(--green);
  display: inline-block;
  position: relative;
}
.footer__copy a:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: #717725;
  transition: var(--transition);
}
.footer__copy a:hover::before {
  right: 0;
  width: 0;
  left: auto;
}

body.oh {
  padding-right: 17px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: var(--white);
  z-index: 100;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
}
.menu.vis {
  opacity: 1;
  visibility: visible;
}
.menu__back, .menu__levelclose {
  display: none;
}
.menu__container {
  width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  height: 100%;
  position: relative;
}
.menu__close {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 34px;
  right: 8px;
  transition: var(--transition);
  cursor: pointer;
  z-index: 100;
}
.menu__close svg {
  width: 34px;
  height: 34px;
  fill: var(--black);
}
.menu__close:hover {
  transform: rotate(180deg);
}
.menu__main {
  position: relative;
  color: var(--white);
  padding: 25px 66px 24px 0;
}
.menu__main:after {
  content: "";
  display: block;
  position: absolute;
  width: 10000px;
  height: 100%;
  background: var(--black);
  top: 0px;
  right: 0px;
  z-index: -1;
}
.menu__main a {
  color: var(--white);
}
.menu__2, .menu__3 {
  background: #f6f6f6;
  padding: 146px 32px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}
.menu__2 a, .menu__2 span, .menu__3 a, .menu__3 span {
  color: var(--black);
  font-family: var(--second-family);
  font-weight: 500;
  position: relative;
}
.menu__2 a:before, .menu__2 span:before, .menu__3 a:before, .menu__3 span:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  width: 0;
  right: 0;
  background: #6c6c6c;
  transition: var(--transition);
}
.menu__2 a:hover::before, .menu__2 span:hover::before, .menu__3 a:hover::before, .menu__3 span:hover::before {
  left: 0;
  width: 100%;
}
.menu__2 span, .menu__3 span {
  cursor: pointer;
}
.menu__2 span:after, .menu__3 span:after {
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 22px;
  background: url(../img/chevron_black.svg) no-repeat right center;
  top: 1px;
  right: -16px;
  transition: var(--transition);
}
.menu__2 span:hover:after, .menu__3 span:hover:after {
  right: -20px;
}
.menu__2.vis, .menu__3.vis {
  display: flex;
}
.menu__2 span.vis:after {
  display: none;
}
.menu__2 span.vis:before {
  display: block;
  width: 100%;
}
.menu__3 {
  background: var(--white);
}
.menu__logo {
  margin-bottom: 58px;
  display: inline-block;
}
.menu__soc {
  display: flex;
  gap: 16px;
  margin-bottom: 26px;
}
.menu__soclink {
  transition: var(--transition);
}
.menu__soclink:hover {
  transform: scale(1.1);
}
.menu__contact {
  font-family: var(--second-family);
  font-size: 14px;
}
.menu__contact strong {
  display: block;
}

.nav {
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.nav li ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.nav > li > a, .nav > li span {
  font-family: var(--second-family);
  font-weight: 500;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.nav > li > a:before, .nav > li span:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  width: 0;
  right: 0;
  background: #acacac;
  transition: var(--transition);
}
.nav > li > a:hover::before, .nav > li span:hover::before {
  left: 0;
  width: 100%;
}
.nav > li > span {
  cursor: pointer;
}
.nav > li > span:after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 20px;
  background: url(../img/chevron_white.svg) no-repeat right center/contain;
  background-size: 8px 16px;
  top: 5px;
  right: -23px;
  transition: var(--transition);
}
.nav > li > span:hover:after {
  right: -28px;
}
.nav > li > span.vis {
  color: var(--green);
}
.nav > li > span.vis:before, .nav > li > span.vis:after {
  display: none;
}

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(60px);
  transition: all 1s ease-in-out;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
}

.modal-bg.vis {
  opacity: 1;
  visibility: visible;
}

.modal-wrap {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal-wrap.vis {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 780px;
  background: #fff;
  margin: 40px auto 40px;
  border-radius: 20px;
  display: none;
}
.modal.vis {
  display: block;
}
.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 16px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  transition: var(--transition05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__close:hover {
  transform: rotate(180deg);
}
.modal__close svg {
  width: 24px;
  height: 24px;
}
.modal__body {
  padding: 70px;
  position: relative;
}
.modal__body h2 {
  font-size: 25px;
  margin-bottom: 40px;
}
.modal__desc {
  color: #272727;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 134%; /* 64.32px */
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 48px;
}
.modal__desc_confirm {
  margin-bottom: 0;
}
.modal .formwrap {
  font-family: var(--second-family);
}
.modal .formwrap label:not(.btn) {
  display: block;
  margin-bottom: 24px;
}
.modal .formwrap label:not(.btn) span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  display: block;
  margin-bottom: 12px;
}
.modal .formwrap label:not(.btn) span small {
  font-size: 100%;
  color: #929292;
}
.modal .formwrap label:not(.btn) .input {
  border-radius: 10px;
  border: 1px solid var(--black);
  background: #FFF;
  height: 64px;
  padding: 0 20px;
  width: 480px;
  outline: none;
  font-size: 18px;
  font-family: var(--second-family);
}
.modal .formwrap label:not(.btn) .input.error {
  border-color: #e80d0d;
}
.modal .formwrap label:not(.btn) .input.error + span.error__text {
  display: block;
  color: #e80d0d;
}
.modal .formwrap label:not(.btn) .input.error + span.error__text small {
  color: #e80d0d;
}
.modal .formwrap label:not(.btn) .error__text {
  display: none;
}

.call {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 40px;
}
.call a {
  font-weight: 600;
  display: inline-block;
  position: relative;
  color: var(--black);
}
.call a:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #acacac;
  transition: var(--transition);
}
.call a:hover::before {
  width: 0;
  right: 0;
  left: auto;
}

.breadcrumbs {
  padding: 50px 0 68px;
  display: flex;
  white-space: nowrap;
  overflow: auto;
  position: relative;
}
.breadcrumbs li {
  padding: 0 20px 0 15px;
  background: url(../img/chevron_green.svg) no-repeat left center;
  display: flex;
  align-items: center;
}
.breadcrumbs li a {
  color: var(--white);
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.breadcrumbs li a:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  width: 0;
  right: 0;
  background: #777777;
  transition: var(--transition);
}
.breadcrumbs li a:hover::before {
  width: 100%;
  left: 0;
}
.breadcrumbs li span {
  text-transform: uppercase;
  display: inline-block;
  cursor: default;
  position: relative;
}
.breadcrumbs li span:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  background: #777777;
  transition: var(--transition);
}
.breadcrumbs:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  background: linear-gradient(to right, rgba(39, 39, 39, 0) 0%, rgb(39, 39, 39) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.doclist {
  display: grid;
  grid-template: auto/1fr 1fr 1fr;
  gap: 20px;
}

.doc {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0 0 12px 0 rgba(58, 58, 58, 0.12);
  color: var(--black);
}
.doc__picwrap {
  border-radius: 20px;
  overflow: hidden;
}
.doc__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.doc__wrap {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 38px 28px 34px;
  text-align: center;
  gap: 24px;
}
.doc__name {
  font-size: 18px;
  margin-bottom: 22px;
}
.doc__name span {
  display: block;
}
.doc__about p strong {
  display: block;
}

.doccard-wrap {
  padding: 70px 40px;
  background: var(--white);
  border-radius: 20px;
  color: var(--black);
}

.doccard {
  display: grid;
  grid-template: auto auto/380px 1fr;
  gap: 48px;
  position: relative;
  margin-bottom: 40px;
  font-family: var(--second-family);
}
.doccard__picwrap {
  border-radius: 20px;
  overflow: hidden;
  grid-row: 1/3;
  grid-column: 1/2;
}
.doccard__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.doccard__desc p {
  max-width: 510px;
}
.doccard__desc h2 {
  margin-bottom: 22px;
}
.doccard__btnwrap {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: end;
}
.doccard__videowrap {
  position: absolute;
  width: 260px;
  right: 0;
  bottom: 0;
}
.doccard__videoinner {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}
.doccard__videoinner iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.content {
  font-family: var(--second-family);
  font-size: 18px;
}
.content ul li {
  display: block;
  padding-left: 28px;
  position: relative;
  margin-bottom: 20px;
}
.content ul li:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 9px;
  left: 0;
  background: var(--green);
  border-radius: 5px;
}
.content ul li:last-child {
  margin-bottom: 0;
}
.content hr {
  border: 0;
  border-top: 1px solid var(--gray);
  margin: 56px 0;
}

.readmore {
  font-family: var(--second-family);
  font-size: 16px;
  color: var(--black);
  margin-top: 28px;
  display: inline-block;
}
.readmore:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: #777777;
  transition: var(--transition);
}
.readmore:after {
  content: "→";
  display: flex;
  position: absolute;
  width: 42px;
  height: 22px;
  top: -1px;
  right: -24px;
  transition: var(--transition);
  text-align: right;
  align-content: center;
  justify-content: flex-end;
}
.readmore:hover:before {
  right: 0;
  width: 0;
  left: auto;
}
.readmore:hover:after {
  right: -30px;
}

.sert {
  background: #f6f6f6;
}
.sert-gal .swiper-wrapper {
  align-items: center;
}
.sert-gal .swiper-slide {
  display: flex;
  gap: 60px;
  align-items: flex-end;
}
.sert-gal__picwrap {
  display: block;
  overflow: hidden;
  border-radius: 20px;
  display: block;
}
.doccard-min {
  display: none;
}
.doccard-min__inner {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}
.doccard-min__inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.scrollTop {
  width: 80px;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -30px;
  right: 30px;
  /*     background-image: url(../img/chevron_up.svg);
      background-position: center center;
      background-repeat: no-repeat; */
  background: var(--green);
  transition: var(--transition05);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
}
.scrollTop.vis {
  bottom: 50px;
  right: 30px;
  opacity: 0.6;
  z-index: 100;
}

@media only screen and (max-width: 1280px) {
  body {
    font-size: 14px;
  }
  h1, h2, h3 {
    margin-bottom: 40px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .container {
    width: 100%;
    padding: 0 40px;
  }
  .header__contact {
    display: none;
  }
  .intro__subdesc span {
    margin-bottom: 6px;
    font-size: 18px;
  }
  .stat-gal .swiper-slide {
    text-align: center;
  }
  .article {
    padding: 80px 0;
  }
  .stat {
    padding-top: 0;
  }
  .intro {
    padding: 0 0 40px;
  }
  .interier__title {
    font-size: 26px;
  }
  .interier, .adv__wrap, .about__wrap, .contact__wrap {
    gap: 40px;
  }
  .adv__desc p {
    margin-bottom: 28px;
  }
  .about__videowrap {
    width: auto;
  }
  .review__servlist li a img {
    transform: scale(0.8);
  }
  .footer__wrap {
    grid-template: repeat(3, auto)/1fr 2.5fr 0.5fr;
  }
  .menu {
    background: var(--black);
    width: 100%;
  }
  .menu__container {
    width: 400px;
    display: block;
    padding: 0 20px;
  }
  .menu__main {
    padding: 25px 0;
  }
  .menu__main:after {
    display: none;
    padding-right: 0;
  }
  .menu__main .nav, .menu__main .menu__soc, .menu__main .menu__contact {
    text-align: center;
    justify-content: center;
  }
  .menu__main .nav {
    margin-bottom: 62px;
    gap: 28px;
  }
  .menu__main .nav > li > a, .menu__main .nav > li span {
    font-size: 16px;
  }
  .menu__main .nav > li > span {
    cursor: pointer;
  }
  .menu__main .nav > li > span:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 20px;
    background: url(../img/chevron_white.svg) no-repeat right center/contain;
    background-size: 8px 12px;
    top: 2px;
    right: -23px;
    transition: var(--transition);
  }
  .menu__main .nav > li > span:hover:after {
    right: -28px;
  }
  .menu__logo {
    margin-bottom: 48px;
    width: 170px;
  }
  .menu__close {
    width: 20px;
    height: 20px;
    top: 35px;
    right: 28px;
  }
  .menu__close svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
  }
  .menu__soc {
    gap: 12px;
    margin-bottom: 48px;
  }
  .menu__soclink {
    width: 22px;
    height: 22px;
    display: block;
  }
  .menu__contact {
    font-size: 12px;
  }
  .menu__contact p {
    margin-bottom: 12px;
  }
  .menu__levelwrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 100;
    overflow-y: scroll;
    display: none;
    background: var(--white);
  }
  .menu__levelwrap.vis {
    display: block;
  }
  .menu__levelwrap_2 {
    background: var(--gray);
  }
  .menu__2, .menu__3 {
    padding: 100px 20px 60px;
    width: 400px;
    margin: 0 auto;
    position: relative;
  }
  .menu__2 {
    background: var(--gray);
  }
  .menu__2 span:after {
    top: 0;
  }
  .menu__3 {
    background: var(--white);
  }
  .menu__back, .menu__levelclose {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 28px;
    right: 20px;
    cursor: pointer;
  }
  .menu__back svg, .menu__levelclose svg {
    width: 20px;
    height: 20px;
    fill: var(--black);
  }
  .menu__back {
    top: 28px;
    left: 20px;
    width: 24px;
    height: 20px;
  }
  .content, .readmore {
    font-size: 14px;
  }
  .doccard__videowrap {
    display: none;
  }
  .doccard-min {
    display: block;
    width: 400px;
    margin: 40px auto 0;
  }
  .content ul li::before {
    top: 6px;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  h1, h2, h3 {
    margin-bottom: 32px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 16px;
  }
  .intro__subdesc span {
    margin-bottom: 4px;
    font-size: 14px;
  }
  .btn {
    height: 38px;
    padding: 0 16px;
    border-radius: 10px;
    font-size: 12px;
  }
  .swiper-button {
    display: none;
  }
  .galwrap {
    margin: 0 -40px;
  }
  .stat-gal__am {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .stat-gal__am span {
    font-size: 16px;
  }
  .stat-gal__desc {
    font-size: 14px;
  }
  .stat-gal .swiper-wrapper .swiper-slide {
    text-align: left;
  }
  .stat-gal.swiper, .stat-gal.swiper, .eq-gal.swiper, .promo-gal.swiper, .videoreview.swiper, .review-text.swiper, .sert-gal.swiper {
    padding: 0 40px;
  }
  .star-gal.swiper {
    padding: 0 20px;
  }
  .star-gal .swiper-slide__inner {
    border-radius: 10px;
  }
  .star-gal .swiper-slide__inner .star-gal__pic {
    border-radius: 10px;
  }
  .smi .galwrap {
    padding: 0 40px;
  }
  .smi-gal__desc {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .swiper-pagination {
    margin-top: 28px;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 8px !important;
  }
  .article {
    padding: 50px 0;
  }
  .intro {
    padding: 0 0 20px;
  }
  .stat {
    padding-top: 0;
  }
  .star .title {
    margin-bottom: 12px;
  }
  .interier {
    padding-top: 40px;
    display: grid;
    grid-template: auto/1fr 1fr;
    gap: 40px;
  }
  .interier__title {
    font-size: 22px;
  }
  .interier__videowrap {
    width: 100%;
  }
  .why__picwrap,
  .smi-gal__picwrap,
  .team__picwrap,
  .interier__videoinner,
  .adv__picwrap,
  .fear__desc div,
  .fear__picwrap,
  .eq-gal .swiper-slide,
  .about__picwrap,
  .about__videoinner,
  .promo-gal .swiper-slide,
  .videoreview__wrap,
  .review__servlist,
  .contact__picwrap,
  .doc,
  .doc__picwrap,
  .doccard-min__inner,
  .doccard__picwrap,
  .sert-gal__picwrap,
  .doccard-wrap,
  .modal {
    border-radius: 10px;
  }
  .modal[data-attr=modal_form] {
    width: 300px;
  }
  .modal[data-attr=modal_form] .modal__body {
    padding: 52px 10px;
    text-align: center;
  }
  .modal[data-attr=modal_form] .modal__body h2 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .modal[data-attr=modal_form] .modal__body .modal__close {
    top: 12px;
    right: 12px;
  }
  .modal[data-attr=modal_form] .modal__body .modal__close svg {
    width: 16px;
    height: 16px;
  }
  .modal[data-attr=modal_form] .modal__body .call {
    font-size: 14px;
    margin-bottom: 26px;
  }
  .modal[data-attr=modal_form] .modal__body .call span {
    display: inline-block;
  }
  .modal[data-attr=modal_form] .modal__body .formwrap label:not(.btn) {
    margin-bottom: 12px;
  }
  .modal[data-attr=modal_form] .modal__body .formwrap label:not(.btn) span {
    font-size: 12px;
    margin-bottom: 8px;
    text-align: left;
  }
  .modal[data-attr=modal_form] .modal__body .formwrap label:not(.btn) .input {
    height: 46px;
    width: 100%;
  }
  .modal[data-attr=modal_form] .modal__body .formwrap .btn {
    margin-top: 30px;
  }
  .about__desc p {
    font-size: 14px;
  }
  .eq-gal__desc h4 {
    margin-bottom: 0;
    height: 80px;
  }
  .why__list {
    gap: 20px;
  }
  .why__list li span {
    font-size: 14px;
  }
  .team__wrap {
    grid-gap: 20px 40px;
  }
  .team__desc {
    font-size: 14px;
  }
  .promo__title {
    font-size: 14px;
  }
  .videoreview-wrap {
    margin-bottom: 40px;
  }
  .textreview-wrap .swiper-pagination {
    margin: 30px 0 40px;
  }
  .review__more {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .contact__text, .footer__wrap {
    font-size: 14px;
  }
  .contact__desc {
    gap: 20px;
  }
  .footer__wrap {
    grid-gap: 20px 40px;
  }
  .about__video p {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .about__picwrap {
    margin-bottom: 8px;
  }
  .about__picwrap + span {
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    line-height: 1.1;
  }
  .why .title {
    text-align: left;
  }
  .header {
    height: 78px;
    padding: 20px 0;
  }
  .article_first {
    padding-top: 78px !important;
  }
  .why__wrap {
    grid-column-gap: 40px;
    grid-template: auto 1fr/1.5fr 1fr;
  }
  .why__list li span:first-child {
    margin-right: 24px;
    font-size: 42px;
  }
  .fear__desc {
    display: flex;
    gap: 0;
    align-items: stretch;
  }
  .fear__wrap {
    display: block;
  }
  .fear__wrap .galwrap {
    margin: 0 -40px;
  }
  .fear__wrap .galwrap .swiper {
    padding: 0 40px;
  }
  .fear__wrap .galwrap .swiper .swiper-slide {
    height: auto;
  }
  .fear__wrap .swiper-pagination {
    margin-bottom: 30px;
    display: block;
  }
  .fear__picwrap {
    height: 500px;
    margin: 0 auto;
  }
  .breadcrumbs {
    padding: 40px 0 50px;
  }
  .doccard {
    grid-template: auto auto/200px 1fr;
    gap: 40px;
  }
  .content hr {
    margin: 40px 0;
  }
  .header__menu-btn {
    width: 36px;
    height: 36px;
  }
  .header .hamburger {
    width: 30px;
    height: 20px;
  }
  .header .hamburger span {
    height: 2px;
    border-radius: 1px;
  }
  .header .hamburger span:nth-child(2) {
    top: 9px;
  }
  .header .hamburger span:nth-child(3) {
    top: 18px;
  }
  .header__logo {
    width: 170px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  .intro {
    padding: 40px 0 60px;
  }
  .intro .container {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .intro .container .intro__pic {
    height: 40vw;
    position: absolute;
    right: 50px;
    bottom: -20px;
  }
  .intro .container .intro__desc {
    padding-top: 26px;
  }
  .header__group .btn {
    display: none;
  }
  .galwrap {
    margin: 0 -20px;
  }
  .smi .galwrap {
    padding: 0;
  }
  .stat-gal.swiper,
  .stat-gal.swiper,
  .eq-gal.swiper,
  .promo-gal.swiper,
  .videoreview.swiper,
  .review-text.swiper,
  .smi-gal.swiper,
  .sert-gal.swiper {
    padding: 0 20px;
  }
  .star-gal.swiper {
    padding: 0 10px;
  }
  .star-gal .swiper-slide {
    padding: 10px;
  }
  .star-gal__name {
    font-size: 14px;
    height: 54px;
  }
  .title_h1 {
    margin-bottom: 12px;
  }
  .contact__text p strong {
    display: block;
  }
  .contact__wrap {
    grid-template: 1fr/1.5fr 1fr;
  }
  .fear__wrap .galwrap {
    margin: 0 -20px;
  }
  .fear__wrap .galwrap .swiper {
    padding: 0 20px;
  }
  .doclist {
    grid-template: auto/1fr 1fr;
  }
  .doc__name {
    font-size: 16px;
  }
  .doccard-wrap {
    padding: 40px 20px;
  }
  .scrollTop {
    width: 36px;
    height: 36px;
    right: 30px;
  }
  .scrollTop img {
    width: 14px;
  }
  .contact__wrap {
    flex-direction: column;
    display: flex;
    gap: 20px;
  }
  .contact__picwrap {
    width: 100% !important;
    height: 400px;
  }
  .contact__btnwrap {
    margin-top: 0;
  }
}
@media only screen and (max-width: 599px) {
  .interier {
    grid-template: auto/1fr;
    gap: 32px;
  }
  .star-pagination {
    display: block;
  }
  .interier__title {
    text-align: center;
  }
  h1 {
    text-align: left;
  }
  .fear .title_h2 {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .smi-gal .swiper-slide {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .smi-gal__picwrap {
    width: 100%;
    max-width: 100%;
    order: 1;
    margin-bottom: 12px;
  }
  .smi-gal__descwrap {
    order: 2;
  }
  .adv__wrap {
    flex-direction: column;
  }
  .adv__picwrap, .adv__desc {
    width: 100%;
  }
  .adv__picwrap {
    order: 2;
    width: 300px;
    margin: 0 auto;
  }
  .adv__desc {
    order: 1;
  }
  .about__wrap {
    flex-direction: column;
    display: flex;
    gap: 20px;
  }
  .about__picblock {
    order: 2;
    width: 100%;
    margin: 0 auto;
  }
  .about__desc {
    order: 1;
  }
  .about__video {
    order: 3;
    width: 100%;
    flex-direction: column;
    display: flex;
  }
  .about__video br {
    display: none;
  }
  .about__video p {
    order: 2;
  }
  .about__video .about__videowrap {
    order: 1;
    margin-bottom: 8px;
  }
  .why__wrap {
    flex-direction: column;
    display: flex;
  }
  .why__wrap .why__list {
    order: 2;
    margin-bottom: 20px;
  }
  .why__wrap .title {
    order: 1;
  }
  .why__wrap .why__picwrap {
    order: 3;
    width: 300px;
    margin: 0 auto;
  }
  .team__wrap {
    flex-direction: column;
    display: flex;
  }
  .team__wrap .team__picwrap {
    order: 2;
    width: 300px;
    margin: 0 auto;
  }
  .team__wrap .team__desc {
    order: 1;
  }
  .team__wrap .team__btnwrap {
    order: 2;
    align-self: center;
  }
  .review__servlist {
    flex-direction: column;
    gap: 30px;
  }
  .contact__wrap .contact__desc .contact__text p {
    margin-bottom: 14px;
  }
  .contact__wrap .contact__desc .btn {
    margin: 10px auto;
  }
  .contact__wrap .contact__picwrap {
    width: 300px;
    margin: 0 auto;
  }
  .footer__wrap {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    gap: 20px;
    font-size: 12px;
  }
  .footer__wrap .footer__logo {
    width: 160px;
  }
  .footer__wrap .footer__contact {
    display: flex;
    flex-direction: column;
  }
  .footer__wrap .footer__contact br {
    display: none;
  }
  .footer__wrap .footer__soc {
    top: 38px;
    gap: 12px;
  }
  .footer__wrap .footer__soc .footer__soclink {
    width: 22px;
    height: 22px;
  }
  .footer__copy {
    padding: 24px 0 26px;
    font-size: 10px;
  }
  .doccard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
  .doccard__picwrap {
    margin: -40px -20px 0;
  }
  .doccard__desc {
    text-align: center;
  }
  .doccard__btnwrap {
    align-self: center;
  }
  .fear__picwrap,
  .adv__picwrap,
  .fear__picwrap,
  .about__picwrap,
  .why__picwrap,
  .team__picwrap,
  .contact__picwrap {
    width: 100% !important;
    height: 400px;
  }
}
@media only screen and (max-width: 480px) {
  .intro .container .intro__pic {
    width: 260px;
    height: auto;
    margin: 30px auto 0;
    position: static;
  }
  .intro {
    padding: 20px 0 60px;
  }
  .menu__container, .menu__2, .menu__3 {
    width: 100%;
  }
  .menu__levelclose {
    top: 35px;
    right: 28px;
  }
  .menu__back {
    top: 35px;
  }
  .doclist {
    grid-template: auto/1fr;
  }
  .doccard-min {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */