@font-face {
    font-family: 'Evolventa';
    src: url('../font/EvolventaRegular.eot');
    src: url('../font/EvolventaRegular.eot?#iefix') format('embedded-opentype'),
         url('../font/EvolventaRegular.woff2') format('woff2'),
         url('../font/EvolventaRegular.woff') format('woff'),
         url('../font/EvolventaRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Evolventa';
    src: url('../font/EvolventaBold.eot');
    src: url('../font/EvolventaBold.eot?#iefix') format('embedded-opentype'),
         url('../font/EvolventaBold.woff2') format('woff2'),
         url('../font/EvolventaBold.woff') format('woff'),
         url('../font/EvolventaBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cera';
    src: url('../font/CeraProRegular.eot');
    src: url('../font/CeraProRegular.eot?#iefix') format('embedded-opentype'),
         url('../font/CeraProRegular.woff2') format('woff2'),
         url('../font/CeraProRegular.woff') format('woff'),
         url('../font/CeraProRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cera';
    src: url('../font/CeraProBold.eot');
    src: url('../font/CeraProBold.eot?#iefix') format('embedded-opentype'),
         url('../font/CeraProBold.woff2') format('woff2'),
         url('../font/CeraProBold.woff') format('woff'),
         url('../font/CeraProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}
button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 50px;
    font-weight: 500;
}
h1{
    font-size: 60px;
    line-height: 110%;
    //margin-bottom: 152px;
}
h2{
    font-size: 48px;
    line-height: 110%;
}
h3{
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

input,
select,
textarea {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    border: 0;
}

p {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    &:last-child{
        margin: 0;
    }
}

img {
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
    position: relative;
    //color: currentColor;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}

table th {
    font-weight: 400;
}

table th,
table td {
    border: 0;
    padding: 0;
}

:root {
    --font-family: "Cera", sans-serif;
    --second-family: "Manrope", sans-serif;
    --third-family: "Evolventa", sans-serif;
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
    --transitionbtn: all 0.8s cubic-bezier(.4,0,.2,1);
    --black: #272727;
    --green: #d1de37;
    --gray: #c7c7c7;
    --white: #ffffff;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #F2F6FF;
    font-family: var(--third-family);
    text-transform: uppercase;
    font-variant-numeric: lining-nums proportional-nums;
}
.oh{
    overflow: hidden;
}
.nowrap{
    white-space: nowrap;
}
.wow {
    visibility: hidden;
}
.main {
    padding-top: 100px;
}
.container {
    width: 1660px;
    margin: 0 auto;
    padding: 0;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    border-radius: 29px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    padding: 0 30px;
    transition: var(--transition);
    color: #fff;
    //border: 2px solid var(--blue);
    box-shadow: 0 0 0px 2px var(--blue) inset;
    position: relative;
    overflow: hidden;
    span{
        position: relative;
        z-index: 20;
        transition: var(--transition);
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        padding-top: 100%;
        //transform: translateY(100%);
        border-radius: 50%;
        transition: var(--transitionbtn);
        z-index: 10;
        background: var(--blue);
    }
    &:hover {
        span{
            color: var(--blue);
        }
        &:after{
            transform: translateY(-100%);
        }
    }
     &_min{
        height: 53px;
        border-radius: 30px;
        font-size: 16px;
    }
 
}
.header {
    &__container {}
    &__logo {}
    &__group {}
    &__contact {}
    &__tel {}
    &__address {}
    &__menu-btn {}
}
.link {
}
.hamburger {
}
.article {
    padding: 120px 0;
    &_black {}
}
.intro {
    &__desc {}
    &__subdesc {}
    &__pic {}
}
.title {
    &_h1 {}
    &_h2 {}
    &_center {}
    &_h3 {}
    &_why {}
}
.stat {
}
.stat-galwrap {
}
.stat-gal {
    &__am {}
    &__desc {}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}
.swiper-button {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.star {
}
.star-galwrap {
}
.star-gal {
    &__pic {}
    &__name {}
}
.interier {
    &__title {}
    &__videowrap {}
}
.adv {
    &__wrap {}
    &__picwrap {}
    &__pic {}
    &__desc {}
}
.fear {
    &__wrap {}
    &__desc {}
    &__pain {}
    &__text {}
    &__price {}
    &__cen {}
    &__picwrap {}
    &__pic {}
}
.about {
    &__wrap {}
    &__picwrap {}
    &__pic {}
    &__desc {}
    &__videowrap {}
}
.eq {
}
.eq-galwrap {
}
.eq-gal {
    &__desc {}
    &__pic {}
}
.why {
    &__list {}
    &__picwrap {}
    &__pic {}
}
.smi {
}
.smi-galwrap {
}
.smi-gal {
    &__descwrap {}
    &__desc {}
    &__date {}
    &__picwrap {}
    &__pic {}
}
.team {
    &__picwrap {}
    &__pic {}
    &__desc {}
}
.promo {
    &__pic {}
    &__title {}
}
.promo-galwrap {
}
.promo-gal {
}
.review {
    &__more {}
    &__servlist {}
}
.review-galwrap {
}
.review-gal {
}
.review-textwrap {
}
.review-text {
}
.contact {
    &__wrap {}
    &__desc {}
    &__text {}
    &__picwrap {}
    &__pic {}
}
.footer {
    &__wrap {}
    &__logo {}
    &__contact {}
    &__contact-tel {}
    &__soc {}
    &__soclink {}
    &__lic {}
    &__pub {}
    &__copy {}
}









































@import '_query';