@font-face {
    font-family: 'Evolventa';
    src: url('../font/EvolventaRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Evolventa';
    src: url('../font/EvolventaBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cera';
    src: url('../font/CeraProRegular.eot');
    src: url('../font/CeraProRegular.eot?#iefix') format('embedded-opentype'),
         url('../font/CeraProRegular.woff2') format('woff2'),
         url('../font/CeraProRegular.woff') format('woff'),
         url('../font/CeraProRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cera';
    src: url('../font/CeraProBold.eot');
    src: url('../font/CeraProBold.eot?#iefix') format('embedded-opentype'),
         url('../font/CeraProBold.woff2') format('woff2'),
         url('../font/CeraProBold.woff') format('woff'),
         url('../font/CeraProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}
button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--third-family);
    line-height: 120%;
    margin-top: 0;
}
h1{
    font-size: 56px;
    margin: 0 0 40px;
    span{
        display: block;
        font-weight: 400;
    }
}
h2{
    font-size: 42px;
    margin-bottom: 60px;
}
h3{
    font-size: 18px;
    margin-bottom: 16px;
}

input,
select,
textarea {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    border: 0;
}

p {
    margin: 0 0 20px;
    &:last-child{
        margin: 0 !important;
    }
}

img {
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
    position: relative;
    //color: currentColor;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}

table th {
    font-weight: 400;
}

table th,
table td {
    border: 0;
    padding: 0;
}

:root {
    --font-family: "Cera", sans-serif;
    --second-family: "Manrope", sans-serif;
    --third-family: "Evolventa", sans-serif;
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
    --transitionbtn: all 0.8s cubic-bezier(.4,0,.2,1);
    --black: #272727;
    --green: #d1de37;
    --gray: #c7c7c7;
    --white: #ffffff;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--black);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    background: var(--white);
    font-family: var(--font-family);
}
.oh{
    overflow: hidden;
}
.nowrap{
    white-space: nowrap;
}
.wow {
    visibility: hidden;
}
.main {
    padding-top: 100px;
    flex: 1 0 auto;
}
.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0;
}
.header {
    padding: 25px 0;
    background: var(--black);
    color: var(--white);
    height: 105px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        height: 100%;
        display: block;
        img{
            height: 100%;
        }
    }
    &__group {
        display: flex;
        gap: 40px;
        align-items: center;
    }
    &__contact {
        font-style: normal;
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 14px;
    }
    &__tel {
        color: var(--white);
        transition: var(--transition);
        &:hover{
            color: var(--green);
        }
    }
    &__address {
        margin-top: 4px;
    }
    &__menu-btn {
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        cursor: pointer;
        display: flex;
        margin-left: 20px;
    }
    .hamburger {
        width: 46px;
        height: 30px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .hamburger span:first-child {
        top: 0;
        transform-origin: left center;
    }
    .hamburger span:nth-child(2) {
        top: 13px;
        transform-origin: left center;
    }
    .hamburger span:nth-child(3) {
        top: 26px;
        transform-origin: left center;
    }
    .hamburger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: var(--white);
        border-radius: 4px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    .hamburger.open span:first-child {
        transform: rotate(45deg);
        top: -3px;
        left: 6px;
    }
    .hamburger.open span:nth-child(2) {
        width: 0;
        opacity: 0;
    }
    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 29px;
        left: 6px;
    }
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    border-radius: 16px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 120%;
    padding: 0 32px;
    transition: var(--transition);
    color: var(--black);
    background: var(--green);
    position: relative;
    overflow: hidden;
    border: 0;
    span{
        position: relative;
        z-index: 20;
        transition: var(--transition);
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        padding-top: 100%;
        transform: translateY(100%);
        border-radius: 50%;
        transition: var(--transitionbtn);
        z-index: 10;
        background: #becb24;
    }
    &:hover {
        box-shadow: 0 0 14px 2px var(--green);
        span{
            color: #000;
            transform: scale(1.05);
        }
        &:after{
            transform: translateY(0);
        }
    }
     &_min{
        height: 42px;
        font-size: 12px;
        padding: 0 36px;
    }
 
}
.link {
}
.article {
    padding: 120px 0;
    &_first{
        padding-top: 0;
    }
    &_black {
        background: var(--black);
        color: var(--white);
        .swiper-button-next, .swiper-button-prev{
            &:after{
                color: var(--white);
            }
            &.swiper-button-disabled{
                &:hover{
                    cursor: not-allowed;
                }
                &:after{
                    color: var(--gray);
                    &:hover{
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}
.intro {
    padding: 0 0 40px;
    &__desc {}
    &__subdesc {
        margin-bottom: 66px;
        span{
            display: block;
            font-family: var(--second-family);
            margin-bottom: 10px;
            font-size: 22px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__pic {
        width: auto;
        height: 580px;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.title {
    &_h1 {}
    &_h2 {}
    &_center {
        text-align: center;
    }
    &_modal {
        font-size: 32px;
        margin-bottom: 32px;
    }
    &_why {}
}
.gal-inner{
    //position: relative;
}
.stat {
    padding-top: 0;
}
.galwrap {
    position: relative;
    padding: 0 80px;
}
.stat-gal {
    &__am {
        color: var(--green);
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 34px;
        color: var(--green);
        margin-bottom: 10px;
        span{
            font-size: 17px;
        }
    }
    &__desc {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 18px;
        &_min{
            font-size: 16px;
        }
    }
    .swiper-wrapper{
        //align-items: center;
        //padding-bottom: 60px;
    }
}

.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
    position: static;
    margin-top: 64px;
    .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        background: var(--gray);
        margin: 0 12px !important;
        opacity: 1;
        &-active{
            background: var(--green);
        }
    }
}
.swiper-button {
}
.swiper-button-prev {
    left: 0;
}
.swiper-button-next {
    right: 0;
}
.swiper-button-next, .swiper-button-prev{
    &:after{
        color: var(--black);
        font-weight: 600;
        font-size: 38px;
    }
    
}
.star {
    background: #f6f6f6;
    .galwrap {
        padding: 0 50px;
    }
}

.star-gal {
    .swiper-slide{
        padding: 20px;
        &__inner{
            border-radius: 20px;
            box-shadow: 0 0 12px 0 rgba(58, 58, 58, 0.12);
            transition: var(--transition);
            display: block;
            &:hover{
                box-shadow: 0 0 12px 4px rgba(58, 58, 58, 0.2);
            }
        }
    }
    &__pic {
        border-radius: 20px;
    }
    &__name {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        color: var(--black);
        height: 80px;
        text-align: center;
    }
}
.fancybox__caption{
    color: var(--gray);
}
.interier {
    padding-top: 66px;
    display: flex;
    align-items: center;
    &__title {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
        margin: 0;
        strong{
            font-weight: 600;
        }
    }
    &__videowrap{
        width: 570px;
        flex: 1 0 auto;
    }
    &__videoinner {
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        padding-top: 56.25%;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.adv {
    &__wrap {
        display: flex;
        gap: 60px;
    }
    &__picwrap {
        width: calc(50% - 30px);
        overflow: hidden;
        border-radius: 20px;
    }
    &__pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__desc {
        width: calc(50% - 30px);
        p{
            font-family: var(--second-family);
            margin-bottom: 40px;
        }
    }
}
.fear {
    .title_h2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__wrap {
        display: flex;
        gap: 8px;
    }
    &__desc {
        width: 760px;
        min-width: 760px;
        display: grid; 
        grid-template: auto auto auto / 1fr 1fr;
        gap: 8px;
        div{
            border-radius: 20px;
            color: var(--black);
            padding: 26px 22px;
        }
    }
    &__pain {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        background: var(--gray);
    }
    &__serv {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        background: var(--white);
    }
    &__text {
        font-family: var(--second-family);

    }
    &__price {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        background: var(--white);
    }
    &__cen {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        background: var(--green);
    }
    &__picwrap {
        overflow: hidden;
        border-radius: 20px;
    }
    &__pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.about {
    &__wrap {
        display: grid;
        grid-template: auto 1fr / 1fr 1fr;
        grid-column-gap: 60px;
        grid-row-gap: 40px;
    }
    &__picblock {
        grid-row: 1/3;
        grid-column: 1/2;
        span{
            font-family: var(--second-family);
            font-size: 14px;
        }
    }
    &__picwrap {
        overflow: hidden;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    &__pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__desc {
        grid-row: 1/2;
        grid-column: 2/3;
        p{
            font-family: var(--second-family);
            font-size: 18px;
        }
    }
    &__video {
        grid-row: 2/3;
        grid-column: 2/3;
        align-self: end;
        padding-bottom: 39px;
        p{
            font-family: var(--second-family);
            font-weight: 300;
            font-size: 16px;
        }
    }
    &__videowrap{
        width: 260px;
    }
    &__videoinner{
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        padding-top: 56.25%;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.eq {
}
.eq-galwrap {
}
.eq-gal {
    
    .swiper-slide{
        background: var(--white);
        border-radius: 20px;
        overflow: hidden;
        height: auto;
        color: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .swiper-wrapper{
        align-items: stretch;
    }
    &__desc {
        h3{
            height: 66px;
            padding: 36px 22px 0;
            margin-bottom: 24px;
        }
        span{
            padding: 0 22px 22px;
            display: flex;
            font-family: var(--second-family);
        }
    }
    &__pic {
        width: 75%;
        align-self: flex-end;
    }
}
.why {
    background: #f6f6f6;
    &__wrap {
        display: grid;
        grid-template: auto auto / 1fr 1fr;
        grid-column-gap: 60px;
    }
    &__list {
        grid-row: 1/3;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        gap: 26px;
        li{
            display: flex;
            align-items: center;
            span{
                font-family: var(--second-family);
                font-size: 18px;
                line-height: 110%;
                display: block;
            }
            span:first-child{
                font-family: var(--third-family);
                font-size: 46px;
                line-height: 100%;
                text-transform: uppercase;
                text-align: center;
                color: var(--green);
                display: flex;
                margin-right: 40px;
                align-items: center;
                transform: translateY(4px);
            }
        }
    }
    .title{
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: right;
    }
    &__picwrap {
        overflow: hidden;
        border-radius: 20px;
        grid-row: 2/3;
        grid-column: 2/3;
    }
    &__pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.smi {
}
.smi-galwrap {
}
.smi-gal {
    .swiper-wrapper{
        align-items: flex-start;
    }
    .swiper-slide{
        display: flex;
        gap: 60px;
        align-items: flex-end;
    }
    &__descwrap {
        font-family: var(--second-family);
    }
    &__desc {
        font-size: 20px;
        margin-bottom: 30px;
        strong{
            color: var(--green);
            font-weight: 700;
        }
    }
    &__date {
        margin: 0;
    }
    &__picwrap {
        width: 60%;
        max-width: 60%;
        display: block;
        overflow: hidden;
        border-radius: 20px;
    }
    &__pic {}
}
.team {
    &__wrap {
        display: grid;
        grid-template: auto auto/1fr 1fr;
        grid-gap: 30px 60px;
    }
    &__picwrap {
        overflow: hidden;
        border-radius: 20px;
        grid-row: 1/3;
        grid-column: 1/2;
    }
    &__pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__desc {
        grid-row: 1/2;
        grid-column: 2/3;
        font-family: var(--second-family);
        font-size: 18px;
    }
    &__btnwrap{
        grid-row: 2/3;
        grid-column: 2/3;
        align-self: end;
    }
}
.promo {
    &__pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: var(--transition);
    }
    &__title {
        position: absolute;
        bottom: 26px;
        left: 20px;
        right: 20px;
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        transition: var(--transition);
    }
    .title{
        span{
            display: block;
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 16px;
            text-transform: none;
            margin-top: 30px;
        }
    }
}
.promo-gal {
    .swiper-slide{
        overflow: hidden;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
        border: 1px solid transparent;
        transition: var(--transition);
        &:hover{
            .promo__pic{
                transform: scale(1.1);
            }
            .promo__title{
                color: var(--green)
            }
            border-color: var(--green);
        }
    }
}
.review {
    background: #f6f6f6;
    &__more {
        text-align: center;
        margin-bottom: 46px;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 20px;
    }
    &__servlist {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 34px;
        background: var(--white);
        border-radius: 20px;
        li{
            a{
                display: block;
                transition: var(--transition);
                &:hover{
                    transform: scale(1.05);
                }
                img{

                }
            }
        }
    }
}
.videoreview-wrap {
    margin-bottom: 78px;
}
.videoreview {
    &__wrap{
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        padding-top: 56.25%;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.textreview-wrap {
    .swiper-pagination{
        margin: 64px 0;
    }
}
.review-text {
    .swiper-wrapper{
        align-items: stretch;
        
    }
    .swiper-slide{
        background: var(--white);
        height: auto;
        padding: 34px 22px;
        font-family: var(--second-family);
        a{
            text-decoration: underline;
            color: #76a424;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.contact {
    &__wrap {
        display: grid;
        grid-template: 1fr/1fr 1fr;
        grid-column-gap: 60px;
    }
    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__text {
        font-family: var(--second-family);
        font-size: 18px;
        hr{
            margin: 30px 0;
            color: #f9ffae;
        }
        a{
            color: #76a424;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__picwrap {
        overflow: hidden;
        border-radius: 20px;
    }
    &__pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.footer {
    font-family: var(--second-family);
    font-size: 14px;
    &__wrap {
        display: grid;
        grid-template: repeat(3, auto)/1fr 2fr 0.5fr;
        grid-gap: 30px 40px;
        padding: 76px 0 40px;
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        ;
    }
    &__logo {}
    &__contact {
        display: grid;
        grid-template: auto auto/auto auto;
        grid-gap: 20px 0;
        strong{
            display: block;
        }
        &>div:nth-child(2){
            strong{
                display: inline-block;
            }
        }
        &>div:nth-child(1) div:first-child{
            margin-bottom: 3px;
        }
    }
    &__contact-tel {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 14px;
        color: var(--green);
        position: relative;
        display: inline-block;
        &:before {
            content: "";
            height: 1px;
            position: absolute;
            bottom: 0;
            width: 100%;
            right: 0;
            width: 0;
            background: #717725;
            transition: var(--transition);
        }
        &:hover::before {
            width: 100%;
            left: 0;
        }
    }
    &__mail{
        position: relative;
        display: inline-block;
        color: var(--white);
        &:before {
            content: "";
            height: 1px;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            background: #777777;
            transition: var(--transition);
        }
        &:hover::before {
            right: 0;
            width: 0;
            left: auto;
        }
    }
    &__soc {
        position: absolute;
        right: 0;
        top: 76px;
        display: flex;
        gap: 16px;
    }
    &__soclink {
        transition: var(--transition);
        &:hover{
            transform: scale(1.1);
        }
    }
    &__lic {
        grid-row: 2/3;
        grid-column: 2/3;
        margin: 0;
    }
    &__pub {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    &__copy {
        padding: 38px 0 44px;
        font-weight: 300;
        font-size: 12px;
        a{
            color: var(--green);
            display: inline-block;
            position: relative;
            &:before {
                content: "";
                height: 1px;
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
                background: #717725;
                transition: var(--transition);
            }
            &:hover::before {
                right: 0;
                width: 0;
                left: auto;
            }
        }
    }
}
body.oh{
    padding-right: 17px;
}
.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: var(--white);
    z-index: 100;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    //transition: var(--transition);
    &.vis{
        opacity: 1;
        visibility: visible;
    }
    &__container {
        width: 1180px;
        margin: 0 auto;
        display: grid;
        grid-template: 1fr/repeat(3, 1fr);
        height: 100%;
        position: relative;
    }
    &__close{
        position: absolute;
        width: 34px;
        height: 34px;
        background: url(../img/close.svg) no-repeat center center / contain;
        top: 34px;
        right: 3px;
        transition: var(--transition);
        cursor: pointer;
        &:hover{
            transform: rotate(180deg);
        }
    }
    &__main {
        position: relative;
        color: var(--white);
        padding: 25px 66px 24px 0;
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 10000px;
            height: 100%;
            background: var(--black);
            top: 0px;
            right: 0px;
            z-index: -1;
        }
        a{
            color: var(--white);
        }
    }
    &__2, &__3{
        background: #f6f6f6;
        padding: 146px 32px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        display: none;
        a, span{
            color: var(--black);
            font-family: var(--second-family);
            font-weight: 500;
            position: relative;
            &:before {
                content: "";
                height: 1px;
                position: absolute;
                bottom: 0;
                width: 0;
                right: 0;
                background: #6c6c6c;
                transition: var(--transition);
            }
            &:hover::before {
                left: 0;
                width: 100%;
            }
        }
        
        span{
            cursor: pointer;
            &:after{
                content: '';
                display: block;
                position: absolute;
                width: 32px;
                height: 22px;
                background: url(../img/chevron_black.svg) no-repeat right center;
                top: 1px;
                right: -16px;
                transition: var(--transition);
            }
            &:hover{
                &:after{
                    right: -20px;
                }
            }
        }
        &.vis{
            display: flex;
        }
    }
    &__2{
        span{
            &.vis{
                color: var(--green);
                &:before, &:after{
                    display: none;
                }
            }
        }
    }
    &__3{
        background: var(--white);
    }
    &__logo {
        margin-bottom: 58px;
        display: inline-block;
    }
    &__soc {
        display: flex;
        gap: 16px;
        margin-bottom: 26px;
    }
    &__soclink {
        transition: var(--transition);
        &:hover{
            transform: scale(1.1);
        }
    }
    &__contact{
        font-family: var(--second-family);
        font-size: 14px;
        strong{
            display: block;
        }
    }
}
.navwrap {
}
.nav {
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    li{
        ul{
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
    }
    &>li{
        &>a, span{
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 22px;
            text-transform: uppercase;
            display: inline-block;
            position: relative;
            &:before {
                content: "";
                height: 1px;
                position: absolute;
                bottom: 0;
                width: 0;
                right: 0;
                background: #acacac;
                transition: var(--transition);
            }
            &:hover::before {
                left: 0;
                width: 100%;
            }
        }
        &>span{
            cursor: pointer;
            &:after{
                content: '';
                display: block;
                position: absolute;
                width: 10px;
                height: 20px;
                background: url(../img/chevron_white.svg) no-repeat center center / contain;
                top: 7px;
                right: -23px;
                transition: var(--transition)
            }
            &:hover{
                &:after{
                    right: -28px;
                }
            }
            &.vis{
                color: var(--green);
                &:before, &:after{
                    display: none;
                }
            }
        }
    }
}
.modal-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(60px);
    transition: all 1s ease-in-out;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
}
.modal-bg.vis {
    opacity: 1;
    visibility: visible;
}

.modal-wrap {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &.vis {
        opacity: 1;
        visibility: visible;
    }
}
.modal {
    width: 780px;
    background: #fff;
    margin: 40px auto 40px;
    border-radius: 20px;
    //box-shadow: 0px 0px 69px 5px #fff, 0px 1px 13px -9px #000 inset;
    display: none;
    &.vis{
        display: block;
    }
    //transition: $transition;
    &__close{
        width: 30px;
        height: 30px;
        //background: #fff url(../images/close.svg) center center no-repeat;
        border-radius: 16px;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        transition: var(--transition05);
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            transform: rotate(180deg);
        }
        svg{
            width: 24px;
            height: 24px; 
        }
    }
    &__body{
        padding: 70px;
        position: relative;
    }
    &__desc{
        color: #272727;
        text-align: center;
        font-size: 48px;
        font-weight: 800;
        line-height: 134%; /* 64.32px */
        text-transform: uppercase; 
        text-align: center;
        margin-bottom: 48px;
        &_confirm{
            margin-bottom: 0;
        }
    }
    .formwrap{
        font-family: var(--second-family);
        label:not(.btn){
            display: block;
            margin-bottom: 24px;
            span{
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 14px;
                line-height: normal; 
                display: block;
                margin-bottom: 12px;
                small{
                    font-size: 100%;
                    color: #929292; 
                }
            }
            .input{
                border-radius: 10px;
                border: 1px solid var(--black);
                background: #FFF; 
                height: 64px;
                padding: 0 20px;
                width: 480px;
                outline: none;
                font-size: 18px; 
                font-family: var(--second-family);
            }
            .input.error{
                border-color: #e80d0d;
            }
            .input.error+span.error__text{
                display: block;
                color: #e80d0d;
                small{
                    color: #e80d0d;
                }
            }
            .error__text{
                display: none;
            }
        }
    }
}
.call{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 48px;
    a{
        font-weight: 600;
        display: inline-block;
        position: relative;
        color: var(--black);
        &:before {
            content: "";
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            
            background: #acacac;
            transition: var(--transition);
        }
        &:hover::before {
            width: 0;
            right: 0;
            left: auto;
        }
    }
}
.breadcrumbs{
    padding: 50px 0 68px;
    display: flex;
    li{
        a{
            color: var(--white); 
        }
    }
}
.doclist {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    gap: 20px;
}
.doc {
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 12px 0 rgba(58, 58, 58, 0.12);
    color: var(--black);

    &__picwrap {
        border-radius: 20px;
        overflow: hidden;
    }
    &__pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__wrap {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 38px 28px;
        text-align: center;
        gap: 24px;
    }
    &__desc {}
    &__name {
        
        margin-bottom: 22px;
        span{
            display: block;
        }
    }
    &__about {
        p{
            strong{
                display: block;
            }
        }
    }
}








































@import '_query';