@font-face {
    font-family: 'Evolventa';
    src: url('../font/EvolventaRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Evolventa';
    src: url('../font/EvolventaBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cera';
    src: url('../font/CeraProRegular.eot');
    src: url('../font/CeraProRegular.eot?#iefix') format('embedded-opentype'),
         url('../font/CeraProRegular.woff2') format('woff2'),
         url('../font/CeraProRegular.woff') format('woff'),
         url('../font/CeraProRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cera';
    src: url('../font/CeraProBold.eot');
    src: url('../font/CeraProBold.eot?#iefix') format('embedded-opentype'),
         url('../font/CeraProBold.woff2') format('woff2'),
         url('../font/CeraProBold.woff') format('woff'),
         url('../font/CeraProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}
button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--third-family);
    line-height: 110%;
    margin-top: 0;
}
h1{
    font-size: 56px;
    margin: 0 0 40px;
    span{
        display: block;
        font-weight: 400;
    }
}
h2{
    font-size: 42px;
    margin-bottom: 60px;
}
h3{
    font-size: 18px;
    margin-bottom: 16px;
}

input,
select,
textarea {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    border: 0;
}

p {
    margin: 0 0 20px;
    &:last-child{
        margin: 0 !important;
    }
}

img {
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
    position: relative;
    //color: currentColor;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}

table th {
    font-weight: 400;
}

table th,
table td {
    border: 0;
    padding: 0;
}

:root {
    --font-family: "Cera", sans-serif;
    --second-family: "Manrope", sans-serif;
    --third-family: "Evolventa", sans-serif;
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
    --transitionbtn: all 0.8s cubic-bezier(.4,0,.2,1);
    --black: #272727;
    --green: #d1de37;
    --gray: #c7c7c7;
    --white: #ffffff;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--black);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    background: var(--white);
    font-family: var(--font-family);
}
.oh{
    overflow: hidden;
}
.nowrap{
    white-space: nowrap;
}
.wow {
    visibility: hidden;
}
.main {
    padding-top: 100px;
}
.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0;
}
.header {
    padding: 25px 0;
    background: var(--black);
    color: var(--white);
    height: 105px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        height: 100%;
        display: block;
        img{
            height: 100%;
        }
    }
    &__group {
        display: flex;
        gap: 40px;
        align-items: center;
    }
    &__contact {
        font-style: normal;
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 14px;
    }
    &__tel {
        color: var(--white);
        transition: var(--transition);
        &:hover{
            color: var(--green);
        }
    }
    &__address {
        margin-top: 4px;
    }
    &__menu-btn {
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        cursor: pointer;
        display: flex;
        margin-left: 20px;
    }
    .hamburger {
        width: 46px;
        height: 30px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .hamburger span:first-child {
        top: 0;
        transform-origin: left center;
    }
    .hamburger span:nth-child(2) {
        top: 13px;
        transform-origin: left center;
    }
    .hamburger span:nth-child(3) {
        top: 26px;
        transform-origin: left center;
    }
    .hamburger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: var(--white);
        border-radius: 4px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    .hamburger.open span:first-child {
        transform: rotate(45deg);
        top: -3px;
        left: 6px;
    }
    .hamburger.open span:nth-child(2) {
        width: 0;
        opacity: 0;
    }
    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 29px;
        left: 6px;
    }
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    border-radius: 16px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 120%;
    padding: 0 32px;
    transition: var(--transition);
    color: var(--black);
    background: var(--green);
    position: relative;
    overflow: hidden;
    border: 0;
    span{
        position: relative;
        z-index: 20;
        transition: var(--transition);
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        padding-top: 100%;
        transform: translateY(100%);
        border-radius: 50%;
        transition: var(--transitionbtn);
        z-index: 10;
        background: #becb24;
    }
    &:hover {
        box-shadow: 0 0 14px 2px var(--green);
        span{
            color: #000;
            transform: scale(1.05);
        }
        &:after{
            transform: translateY(0);
        }
    }
     &_min{
        height: 42px;
        font-size: 12px;
        padding: 0 36px;
    }
 
}
.link {
}
.article {
    padding: 120px 0;
    &_black {
        background: var(--black);
        color: var(--white);
        .swiper-button-next, .swiper-button-prev{
            &:after{
                color: var(--white);
            }
            &.swiper-button-disabled{
                &:hover{
                    cursor: not-allowed;
                }
                &:after{
                    color: var(--gray);
                    &:hover{
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}
.intro {
    padding: 0 0 40px;
    &__desc {}
    &__subdesc {
        margin-bottom: 66px;
        span{
            display: block;
            font-family: var(--second-family);
            margin-bottom: 10px;
            font-size: 22px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__pic {
        width: 460px;
    }
    .container{
        display: flex;
        align-items: center;
    }
}
.title {
    &_h1 {}
    &_h2 {}
    &_center {
        text-align: center;
    }
    &_h3 {}
    &_why {}
}
.gal-inner{
    //position: relative;
}
.stat {
    padding-top: 0;
}
.galwrap {
    position: relative;
    padding: 0 80px;
}
.stat-gal {
    &__am {
        color: var(--green);
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 34px;
        color: var(--green);
        margin-bottom: 10px;
        span{
            font-size: 17px;
        }
    }
    &__desc {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 18px;
        &_min{
            font-size: 16px;
        }
    }
    .swiper-wrapper{
        //align-items: center;
        //padding-bottom: 60px;
    }
}

.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
    position: static;
    margin-top: 64px;
    .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        background: var(--gray);
        margin: 0 12px !important;
        opacity: 1;
        &-active{
            background: var(--green);
        }
    }
}
.swiper-button {
}
.swiper-button-prev {
    left: 0;
}
.swiper-button-next {
    right: 0;
}
.swiper-button-next, .swiper-button-prev{
    &:after{
        color: var(--black);
        font-weight: 600;
        font-size: 38px;
    }
    
}
.star {
    background: #f6f6f6;
    .galwrap {
        padding: 0 50px;
    }
}

.star-gal {
    .swiper-slide{
        padding: 20px;
        &__inner{
            border-radius: 20px;
            box-shadow: 0 0 12px 0 rgba(58, 58, 58, 0.12);
            transition: var(--transition);
            display: block;
            &:hover{
                box-shadow: 0 0 12px 4px rgba(58, 58, 58, 0.2);
            }
        }
    }
    &__pic {
        border-radius: 20px;
    }
    &__name {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--third-family);
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        color: var(--black);
        height: 80px;
        text-align: center;
    }
}
.fancybox__caption{
    color: var(--gray);
}
.interier {
    padding-top: 66px;
    display: flex;
    align-items: center;
    &__title {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
        margin: 0;
        strong{
            font-weight: 600;
        }
    }
    &__videowrap{
        width: 570px;
        flex: 1 0 auto;
    }
    &__videoinner {
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        padding-top: 56.25%;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.adv {
    &__wrap {
        display: flex;
        gap: 60px;
    }
    &__picwrap {
        width: calc(50% - 30px);
        overflow: hidden;
        border-radius: 20px;
    }
    &__pic {}
    &__desc {
        width: calc(50% - 30px);
        p{
            font-family: var(--second-family);
            margin-bottom: 40px;
        }
    }
}
.fear {
    &__wrap {}
    &__desc {}
    &__pain {}
    &__text {}
    &__price {}
    &__cen {}
    &__picwrap {}
    &__pic {}
}
.about {
    &__wrap {}
    &__picwrap {}
    &__pic {}
    &__desc {}
    &__videowrap {}
}
.eq {
}
.eq-galwrap {
}
.eq-gal {
    &__desc {}
    &__pic {}
}
.why {
    &__list {}
    &__picwrap {}
    &__pic {}
}
.smi {
}
.smi-galwrap {
}
.smi-gal {
    &__descwrap {}
    &__desc {}
    &__date {}
    &__picwrap {}
    &__pic {}
}
.team {
    &__picwrap {}
    &__pic {}
    &__desc {}
}
.promo {
    &__pic {}
    &__title {}
}
.promo-galwrap {
}
.promo-gal {
}
.review {
    &__more {}
    &__servlist {}
}
.review-galwrap {
}
.review-gal {
}
.review-textwrap {
}
.review-text {
}
.contact {
    &__wrap {}
    &__desc {}
    &__text {}
    &__picwrap {}
    &__pic {}
}
.footer {
    &__wrap {}
    &__logo {}
    &__contact {}
    &__contact-tel {}
    &__soc {}
    &__soclink {}
    &__lic {}
    &__pub {}
    &__copy {}
}









































@import '_query';